@import "../styles/constants"

.dialogbox
	transition: .5s all ease
	position: absolute
	display: flex
	align-items: center
	flex-direction: column
	animation: active
	animation-duration: .5s
	left: 1%
	right: 1%
	animation-fill-mode: forwards
	border-radius: 5px
	user-select: none
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6)
	z-index: 3

	&__next
		z-index: 2
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%

	&__header
		display: flex
		justify-content: space-between
		align-items: center
		color: white
		font-weight: bold
		padding: 0 0

	&__speaker
		font-size: 35px
		padding: 0 25px

	&__lines
		display: flex
		flex-direction: column
		align-items: flex-end
		width: 135px

	&__line
		margin-top: 1px
		width: 100%
		height: 4px
		background: linear-gradient(270deg, #A5D9DA 0%, rgba(166, 217, 219, 0) 100%)

		&_small
			width: 50%
			background: linear-gradient(270deg, #FFD25F 0%, rgba(218, 165, 165, 0) 100%)

	&__icon
		pointer-events: initial
		display: block
		transition: $transitionFast
		cursor: pointer
		width: 25px
		margin-left: 12px

		&:hover
			filter: drop-shadow(0 0 5px $accentColor) drop-shadow(0 0 2px $accentColor)

	&__navigation
		z-index: 3
		display: flex
		position: absolute
		right: 50px

	&__menu
		transition: $transitionFast
		cursor: pointer
		opacity: .6

		&:not(:last-child)
			margin-right: 10px

		&:hover
			opacity: 1

	&__body
		margin-top: 15px
		line-height: 1.3
		padding: 35px 50px
		background-color: $dialogboxColor
		color: $textColor
		width: 95%
		height: 160px
		border-radius: 10px
		border-top: 2px solid $dialogboxColor
		backdrop-filter: blur(10px)
		box-sizing: border-box

	&__hide
		animation: hide
		animation-duration: .5s
		animation-fill-mode: forwards

.dialogbox__twok
	display: block

.dialogbox__fullhd
	display: block

.dialogbox__hd
	.dialogbox
		&__body
			font-size: $fontSizeHD

.dialogbox__mobile
	.dialogbox
		&__speaker
			padding: 0 10px
			font-size: $fontSizeHD

		&__navigation
			right: 20px

		&__lines
			width: 75px
		&__line
			margin-top: 1px
			height: 2px
		&__menu
			font-size: 14px
			margin-right: 5px

		&__icon
			width: 16px
			margin-left: 8px

		&__body
			margin-top: 10px
			padding: 15px 25px
			font-size: $fontSizeMOBILE
			height: 95px

@keyframes active
	0%
		bottom: -50%
	100%
		bottom: 1%

@keyframes hide
	0%
		bottom: 1%
	100%
		bottom: -50%

.strings
	font-weight: 700
	display: flex
	align-items: center
	justify-content: center
	font-size: 22px
	position: absolute
	left: 5px
	right: 5px
	bottom: 25px
	width: 90%
	height: 30%
	text-transform: uppercase
	z-index: 2
	color: white
	text-align: center
	margin: 0 auto
	user-select: none
	line-height: 150%

	&__center
		top: 50%
		transform: translateY(-50%)

	&__shadow
		position: absolute
		bottom: 0
		width: 100%
		height: 35%
		z-index: 1
		background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%)

.strings__mobile
	font-size: $fontSizeMOBILE

	.strings
