@import "src/game/styles/constants"

.choices
	visibility: hidden
	z-index: 2
	top: 0
	transition: .2s all ease
	opacity: 1
	position: absolute
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	height: 100%
	width: 75%
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.6)
	left: 50%
	transform: translateX(-50%)
	& > *:not(:first-child)
		margin-top: 10px

	//pointer-events: none
	&__visible
		visibility: visible
		animation: show
		animation-fill-mode: forwards
		animation-duration: .3s
		animation-timing-function: ease

.choices__mobile
	top: -25px
	.choices
		&__select
			margin-top: 10px
			font-size: $fontSizeMOBILE
			padding: 8px


@keyframes show
	0%
		opacity: 0
	100%
		opacity: 1