@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Ubuntu:wght@300;400;700&display=swap')
@import "src/game/styles/constants"


.app
  display: flex
  justify-content: center
  align-items: center
  min-height: 100vh
  font-family: 'Ubuntu', 'Montserrat', sans-serif
  background-color: $backgroundColor

img
  user-select: none
  pointer-events: none

